*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    box-sizing: border-box;

}

body{
    font-family: 'M PLUS 1', sans-serif;
    color: #171a20;
}
header{
    position: fixed;
    width: 100%;
}

.nav1{
    text-decoration: underline;
    text-align: center;
    height: 50px;
    cursor: pointer;
    background-color: white;
    border: solid 1px whitesmoke;

}

.logo_div{
    display: flex;
    height: 50px;
    
}
#teslaLogo{
    height: 30px;
    margin-left: 30px;
    margin-right: 20vw;
    margin-top: 5px;
}

.span_middle{
    display: flex;
    padding: 15px;
    
}

.span_middle li{
    margin-right: 30px;
    font-weight: 600;
}

.span_right{
    display: flex;
    align-items: center;
    margin-left: 10vw;
    padding: 5px;
}

.span_right li{margin-right: 40px;
    font-weight: 600;
}


section{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.static_model3{
    text-align: center;
    width: 100%;
    padding: 10px;

    
}
.model3{
    margin-top: 15vh;
    margin-bottom: 50vh;
    padding: 10px;
    
}

a.btn-first{
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px;
    background-color: rgba(23, 26, 32, 0.8);
    margin-right: 20px;
    padding: 10px;
    width: 250px;
   
}
a.btn-secnd{
    background-color: rgba(244, 244, 244, 0.65);
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
    width: 250px;
}
