*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    box-sizing: border-box;

}

header{
    position: fixed;
    width: 100%;

}

.nav1{
    text-decoration: underline;
    text-align: center;
    height: 50px;
    cursor: pointer;
    background-color: white;
    /* position: fixed;
    width: 100%; */
}

.logo_div{
    /* background-color: rebeccapurple; */
    display: flex;
    height: 50px;
    /* position: fixed;
    width: 100%; */
}
#teslaLogo{
    height: 30px;
    margin-left: 30px;
    margin-right: 20vw;
    margin-top: 5px;
}

.span_middle{
    display: flex;
    padding: 15px;
    
}

.span_middle li{
    margin-right: 30px;
    font-weight: 600;
}

.span_right{
    display: flex;
    align-items: center;
    margin-left: 10vw;
    padding: 5px;
}

.span_right li{margin-right: 40px;
    font-weight: 600;
}

.first_sec{
   
    background-image: url(images/redCar.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* width: 100%; */
    /* background-color: blue; */
    
    
}
.second_sec{
    background-image: url(images/blueCar.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.static_model3{
    text-align: center;
    /* position: fixed; */
    width: 100%;
    /* background-color: yellow; */
    /* display: block; */
    /* margin-top: 50px; */
    padding: 10px;

    
}
.model3{
    margin-top: 20vh;
    margin-bottom: 50vh;
    /* background-color: red; */
    /* display: block; */
    padding: 10px;
    
}


a.btn-first{
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px;
    background-color: rgba(23, 26, 32, 0.8);
    margin-right: 20px;
    padding: 10px;
    width: 250px;
   
}
a.btn-secnd{
    background-color: rgba(244, 244, 244, 0.65);
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
    width: 250px;
}
